body{
    background-color: bisque;
    justify-items: center;
}

#container{
    width: 600px;
    
}
p{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(7, 14, 2);
    text-align: center;
}
h1{
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: saddlebrown;
    text-align: center;
}

#ball{
    width: 100px;
    height: 100px;
    background-color: rgb(16, 42, 173);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transition-property: bottom;
    transition-duration: 3s;
}
#platform{
    width: 100px;
    height: 20px;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 30px;
    background-color: white;
}

#floor{
    width: 100%;
    background-color: grey;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0px;
}
button {
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  background-color: #0ac67e;
  border-radius: 8px;
  border-bottom: 4px solid #170102;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
}

button:hover {
  background-color: #26d729;
  border: none;
  border-radius: 8px;
  border-bottom: 4px solid #0e0c0c;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
}

button:active {
  background-color: #1d5c16;
  border: none;
  border-radius: 8px;
  border-bottom: 4px solid #166327;
  color: #CCC;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
}